h1, .h1{
	font-size: 28px;
	font-weight: 400;
	font-family: $sf;
	@media (max-width: 1000px) {
		font-size: 24px;
	}
}

h2, .h2, .txt-20,.title-24{
	font-size: 20px;
	text-transform: uppercase;
	font-family: $sf;
	font-weight: 700;
}
.title-24 {font-size: 24px;}
.txt-20{
	font-weight: 400;
	line-height: 1.4;
}
.txt-black{color: $black!important;}