//- ===== colors ======
$bg: #f0f0f3;
$black: #121212;
$accent:  #c4151c;
$green:#57E741;
$darkBlue: #214458;
$ff: "IBM Plex Sans", sans-serif;
$sf: "RussianRail G Pro", sans-serif;
$tf: "SF Pro", sans-serif;