.btn,.btn-light,.btn-round,.btn-grey,.btn-slim, .option-btn{
	display: flex;
	height: 48px;
	font-family: $ff;
	font-weight: 500;
	padding-left: 40px;
	padding-right: 40px;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	column-gap: 8px;
	min-width: 170px;
	width: 100%;
	text-align: center;
	color: $black;
	white-space: nowrap;
	border-radius: 8px;
}
.btn{
	min-width: 220px;
	// width: 100%;
	border-radius: 12px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.17), 0 8px 5px 0 rgba(0, 0, 0, 0.1), 0 14px 6px 0 rgba(0, 0, 0, 0.03), 0 22px 6px 0 rgba(0, 0, 0, 0);
	background: #c4151c;
	font-family: $sf;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}
.btn-round:has(>.icon-box), .option-btn{
	justify-content: flex-start;
	
}
.btn-round, .option-btn{
	padding: 4px;
	padding-right: 18px;
	border-radius: 40px;
	box-shadow: inset -5px -5px 4px 0 rgba(255, 255, 255, 0.3), inset 5px 5px 4px 0 rgba(174, 174, 192, 0.2);
	.icon-box{
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink:0;
		border-radius: 50%;
	}
	
}
.btn-transform{
	display: inline-flex;
	width: fit-content;
	column-gap:6px;
	height: 48px;
	min-width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	padding-left: 14px;
	padding-right: 14px;
	img{flex-shrink: 0;}
	.icon-box{
		width: 20px;
		height: 20px;
	}
}
.btn-transform, .icon-box,.btn-light,
.btn-round, .option-btn{
	box-shadow: 5px 5px 10px 0 rgba(174, 174, 192, 0.2), -5px -5px 5px 0 rgba(255, 255, 255, 0.4), inset 2px 2px 4px 0 #fff, inset -2px -2px 4px 0 rgba(0, 0, 0, 0.1);
	background: $bg;
	
	font-weight: 500;
	color: $black;
}
.btn-light.txt-left{
	padding-left: 14px;
	padding-right: 14px;
	min-width: unset;
	justify-content: flex-start;
	color: rgba(18, 18, 18, 0.4);
	@media (max-width: 1000px) {
		height: 40px;
		font-size: 14px;
	}
}
.btn-round span{
	@media (max-width: 574px) {
		max-width: 150px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
.btn-grey{
	width: fit-content;
	color:$darkBlue;
	background: rgba(33, 68, 88, 0.2);
	border-radius: 12px;
	font-weight: 700;
	
}
.btn-grey.btn--upper{
	font-family: $sf;
	text-transform: uppercase;
	font-weight: 700;
}
.btn-slim {
	height: 40px;
	font-weight: 400;
	min-width: 80px;
	padding-left: 14px;
	padding-right: 14px;
	text-align: center;
	border-radius: 8px;
	box-shadow: 5px 5px 10px 0 rgba(174, 174, 192, 0.2), -5px -5px 5px 0 rgba(255, 255, 255, 0.4), inset 2px 2px 4px 0 #fff, inset -2px -2px 4px 0 rgba(0, 0, 0, 0.1);
}
.btn-slim.btn-slim--active{
	color: white;
	background-color: $accent;
	box-shadow: none;
}
.btn-big{
	border-radius: 12px 12px 100px 100px;
	width: 212px;
	height: 210px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 5px 20px 0 rgba(174, 174, 192, 0.5), -5px -5px 20px 0 #fff;
	background: $bg;
	flex-shrink: 0;
	&.btn-press{
		box-shadow: inset -5px -5px 4px 0 rgba(255, 255, 255, 0.3), inset 5px 5px 4px 0 rgba(174, 174, 192, 0.2);
	}
	@media (max-width: 1000px) {
		width: 134px;
		height: 134px;
	}
	@media (max-width: 767px) {
		width: 206px;
		height: 175px;
	}
	@media (max-width: 699px) {
		width: 100%;
		height: 101px;
		max-width: 183px;
	}
}
.btn-big.btn-big--up{
	border-radius: 100px 100px 12px 12px;
}
.action-buttons{
	display: flex;
	flex-direction: row-reverse;
	
	gap:24px;
	@media (max-width: 1000px) {
		gap: 20px;
		flex-direction: column;
	}
	@media (max-width: 767px) {gap: 24px;}
	@media (max-width: 699px) {
		flex-direction: row-reverse;
		gap:0;
		width: 100%;
		justify-content: center;
	}
}
#float-button{
	width: fit-content;
	position: fixed;
	z-index: 10;
	bottom:40px;
	left: 50%;
	transform: translateX(-50%);
	text-transform: none;
}
.btn-wrapper{
	column-gap:18px;
	&>*{
		min-width: unset; 
		padding-left: 16px; 
		padding-right: 16px;}
}