input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  
  -webkit-box-shadow: 0 0 0px 1000px #f0f0f3 inset;
   box-shadow: 0 0 0px 1000px #f0f0f3 inset;
   box-shadow: 5px 5px 10px 0 rgba(174, 174, 192, 0.2), -5px -5px 5px 0 rgba(255, 255, 255, 0.4), inset 2px 2px 4px 0 #fff, inset -2px -2px 4px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.6) 100%);
}
/* Убираем стрелочки у input[type="number"] */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.input-label,.form-input{
    display: block;
    font-family: $ff;
    font-weight: 400;
    font-size: 14px;
    color: $black;
}
.error{
  .form-input, .form-input::placeholder,.input-label{color: #c4151c!important;}
  .form-input{
    border: 1px solid #c4151c!important;
   
  }
}
.input-label{
  margin-bottom: 10px; line-height: 18px; padding-left: 4px;
  @media (max-width: 1000px) {
    font-size: 12px;
    margin-bottom: 6px;
  
  }
  @media (max-width: 768px) {
    font-size: 14px;
    margin-bottom: 9px
  }
  @media (max-width: 699px) {
    font-size: 12px;
    margin-bottom: 5px
  }
}
.form-input, .code-input{
  width: 100%;
  height: 48px;
  font-size: 16px;
  box-shadow: 5px 5px 10px 0 rgba(174, 174, 192, 0.2), -5px -5px 5px 0 rgba(255, 255, 255, 0.4), inset 2px 2px 4px 0 #fff, inset -2px -2px 4px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.6) 100%);
  border-radius: 8px;
  padding: 0px 14px;
  font-family: $ff;
  &::placeholder{
    font-size: inherit;
    font-family: inherit;
    color: rgba(18, 18, 18, 0.4);
  }
}
.code-group{
  justify-content: center;
}
.code-input {
  width: 47px;
  height: 48px;
  font-weight: 500;
  font-size: 24px;
  color: rgba(18, 18, 18, 0.6);
}
.field,.field-slim{
  flex-grow: 1;
  border-radius: 8px;
  padding-left: 14px;
  padding-right: 14px;
  height: 48px;
  column-gap: 2px;
  box-shadow: inset -5px -5px 4px 0 rgba(255, 255, 255, 0.3), inset 5px 5px 4px 0 rgba(174, 174, 192, 0.2);
  background: $bg;
  font-weight: 500;
  font-size: 16px;
  color: $black;
  font-family: $ff;
}
.field{
  @media (max-width: 1000px) {
    height: 40px;
    font-size: 14px;
  }
}
.fieldset{
  box-shadow: inset -5px -5px 4px 0 rgba(255, 255, 255, 0.3), inset 5px 5px 4px 0 rgba(174, 174, 192, 0.2);
  background: $bg;
  border-radius: 16px;
  padding: 24px;
  border: 0;
  margin:0;
  display: block;

  @media (max-width: 1000px) {
   padding: 16px;
   .form-input{height: 40px;}
  }
  @media (max-width: 768px) {
   
  .form-input, .field, .btn-slim {height: 48px; font-size: 16px;}
  }
  @media (max-width: 699px) {
    .form-input,
    .field,
    .btn-slim {
      height: 40px;
      font-size: 14px;
    }
    .form-input{font-size: 16px;}
  }
  @media (max-width: 699px) {
    padding:12px;
  }
}
.fieldset-inputs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap:24px;
  margin-bottom: 8px;
  .field, .form-item, .form-group{
    flex-grow:1;
  }
  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
    row-gap:12px;
    margin-bottom: 14px;
  }
  @media (max-width: 768px) {
  row-gap: 20px;
  margin-bottom: 24px;
  }
  @media (max-width: 699px) {
  row-gap: 14px;
  margin-bottom: 14px;
  }
}
.fieldset-buttons{
  display: flex;
  column-gap:12px;
  align-items: flex-end;
  .btn{width: 220px; flex-shrink: 0;}
  .form-group{flex-grow:1;}
  @media (max-width: 1000px) {
    flex-wrap:wrap;
    row-gap:16px;
    .btn { width: 100%; }
    
   .presets-row .btn-slim:nth-child(n+4){
     display: none!important;
   }
  }
  @media (max-width: 768px) {
  row-gap: 24px;
  }
  @media (max-width: 699px) {
    row-gap: 14px;
  }
}
.show-passw{
  width: 30px;
  height: 30px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='10' viewBox='0 0 20 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.35635 0.537935C2.19318 0.157212 1.75228 -0.0191514 1.37155 0.144015C0.99083 0.307182 0.814467 0.748091 0.977633 1.12881L2.35635 0.537935ZM12.9896 6.10729L12.715 5.40941L12.9896 6.10729ZM7.63964 6.51633C7.86555 6.16914 7.76723 5.70456 7.42004 5.47865C7.07285 5.25275 6.60827 5.35106 6.38236 5.69825L7.63964 6.51633ZM5.20502 7.50767C4.97911 7.85486 5.07743 8.31944 5.42462 8.54535C5.77181 8.77125 6.23639 8.67294 6.4623 8.32575L5.20502 7.50767ZM19.023 1.12881C19.1862 0.748091 19.0098 0.307182 18.6291 0.144015C18.2484 -0.0191514 17.8075 0.157212 17.6443 0.537935L19.023 1.12881ZM15.8337 4.27407L15.3204 3.72722V3.72722L15.8337 4.27407ZM16.5533 6.0544C16.8462 6.3473 17.3211 6.3473 17.614 6.0544C17.9069 5.76151 17.9069 5.28664 17.614 4.99374L16.5533 6.0544ZM9.25033 8.75004C9.25033 9.16425 9.58611 9.50004 10.0003 9.50004C10.4145 9.50004 10.7503 9.16425 10.7503 8.75004H9.25033ZM13.5384 8.32575C13.7643 8.67293 14.2288 8.77125 14.576 8.54535C14.9232 8.31944 15.0215 7.85486 14.7956 7.50767L13.5384 8.32575ZM4.69732 4.8044C4.99022 4.51151 4.99022 4.03664 4.69732 3.74374C4.40443 3.45085 3.92956 3.45085 3.63666 3.74374L4.69732 4.8044ZM2.38666 4.99374C2.09377 5.28663 2.09377 5.76151 2.38666 6.0544C2.67956 6.3473 3.15443 6.3473 3.44732 6.0544L2.38666 4.99374ZM10.0003 5.91671C7.35977 5.91671 5.46165 4.60298 4.19575 3.2397C3.56303 2.5583 3.09878 1.87454 2.79323 1.36122C2.64088 1.10527 2.52915 0.893658 2.45663 0.748615C2.4204 0.67615 2.39404 0.620474 2.37737 0.584386C2.36904 0.566347 2.36313 0.553221 2.35964 0.545357C2.35789 0.541426 2.35674 0.538813 2.35619 0.53756C2.35592 0.536934 2.3558 0.536649 2.35582 0.536709C2.35584 0.536739 2.35589 0.536856 2.35598 0.53706C2.35602 0.537162 2.35611 0.537381 2.35614 0.537432C2.35624 0.537672 2.35635 0.537935 1.66699 0.833374C0.977633 1.12881 0.977765 1.12912 0.977906 1.12945C0.977966 1.12959 0.978118 1.12994 0.978238 1.13022C0.978478 1.13078 0.978758 1.13143 0.979077 1.13216C0.979714 1.13364 0.980508 1.13547 0.981458 1.13764C0.983359 1.142 0.985888 1.14775 0.989048 1.15486C0.995368 1.16907 1.00422 1.1887 1.01562 1.21338C1.03842 1.26275 1.07147 1.3324 1.11499 1.41944C1.20197 1.5934 1.33113 1.83752 1.50429 2.12845C1.84978 2.70887 2.37512 3.48344 3.09656 4.26038C4.539 5.81377 6.80755 7.41671 10.0003 7.41671V5.91671ZM12.715 5.40941C11.9202 5.72222 11.0187 5.91671 10.0003 5.91671V7.41671C11.2152 7.41671 12.3027 7.1837 13.2643 6.80518L12.715 5.40941ZM6.38236 5.69825L5.20502 7.50767L6.4623 8.32575L7.63964 6.51633L6.38236 5.69825ZM18.3337 0.833374C17.6443 0.537935 17.6444 0.537782 17.6444 0.537637C17.6444 0.537598 17.6445 0.537459 17.6445 0.53738C17.6446 0.537223 17.6447 0.537093 17.6447 0.53699C17.6448 0.536785 17.6448 0.53669 17.6448 0.536702C17.6448 0.536728 17.6446 0.537187 17.6442 0.538072C17.6435 0.539841 17.6419 0.543313 17.6396 0.548425C17.6351 0.55865 17.6275 0.575426 17.6168 0.59826C17.5955 0.643943 17.5621 0.71377 17.5161 0.803807C17.4242 0.984051 17.283 1.24427 17.0904 1.55327C16.704 2.17345 16.1184 2.97822 15.3204 3.72722L16.3469 4.82092C17.2644 3.95974 17.9288 3.04416 18.3635 2.34653C18.5815 1.99664 18.7436 1.69859 18.8524 1.48529C18.9068 1.37856 18.948 1.2928 18.9764 1.23209C18.9905 1.20172 19.0014 1.1776 19.0092 1.16022C19.0131 1.15154 19.0162 1.14453 19.0185 1.13928C19.0196 1.13665 19.0206 1.13446 19.0213 1.13271C19.0217 1.13184 19.022 1.13108 19.0223 1.13043C19.0225 1.1301 19.0226 1.1298 19.0227 1.12954C19.0228 1.1294 19.0228 1.12922 19.0229 1.12915C19.0229 1.12898 19.023 1.12881 18.3337 0.833374ZM15.3204 3.72722C14.6135 4.39068 13.7484 5.00262 12.715 5.40941L13.2643 6.80518C14.51 6.31486 15.5324 5.58545 16.3469 4.82092L15.3204 3.72722ZM15.3033 4.8044L16.5533 6.0544L17.614 4.99374L16.364 3.74374L15.3033 4.8044ZM9.25033 6.66671V8.75004H10.7503V6.66671H9.25033ZM12.361 6.51633L13.5384 8.32575L14.7956 7.50767L13.6183 5.69825L12.361 6.51633ZM3.63666 3.74374L2.38666 4.99374L3.44732 6.0544L4.69732 4.8044L3.63666 3.74374Z' fill='%23121212' /%3e%3c/svg%3e");
  background-size:20px 10px;
  position: absolute;
  right: 8px;
  bottom: 8px;
  z-index: 5;
}
.show-passw.active{
  background-size:20px 20px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.3375 9.7875C17.8336 5.90211 14.1632 3.2832 9.99998 3.125C5.83672 3.2832 2.16631 5.90211 0.662478 9.7875C0.612833 9.92482 0.612833 10.0752 0.662478 10.2125C2.16631 14.0979 5.83672 16.7168 9.99998 16.875C14.1632 16.7168 17.8336 14.0979 19.3375 10.2125C19.3871 10.0752 19.3871 9.92482 19.3375 9.7875ZM9.99997 15.625C6.68747 15.625 3.18747 13.1687 1.91872 10C3.18747 6.83125 6.68747 4.375 9.99997 4.375C13.3125 4.375 16.8125 6.83125 18.0812 10C16.8125 13.1687 13.3125 15.625 9.99997 15.625ZM9.99997 6.25C7.9289 6.25 6.24997 7.92893 6.24997 10C6.24997 12.0711 7.9289 13.75 9.99997 13.75C12.071 13.75 13.75 12.0711 13.75 10C13.75 7.92893 12.071 6.25 9.99997 6.25ZM9.99997 12.5C8.61925 12.5 7.49997 11.3807 7.49997 10C7.49997 8.61929 8.61925 7.5 9.99997 7.5C11.3807 7.5 12.5 8.61929 12.5 10C12.5 10.663 12.2366 11.2989 11.7677 11.7678C11.2989 12.2366 10.663 12.5 9.99997 12.5Z' fill='%232C2C29'/%3e%3cmask id='mask0_311_6146' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='3' width='20' height='14'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.3375 9.7875C17.8336 5.90211 14.1632 3.2832 9.99998 3.125C5.83672 3.2832 2.16631 5.90211 0.662478 9.7875C0.612833 9.92482 0.612833 10.0752 0.662478 10.2125C2.16631 14.0979 5.83672 16.7168 9.99998 16.875C14.1632 16.7168 17.8336 14.0979 19.3375 10.2125C19.3871 10.0752 19.3871 9.92482 19.3375 9.7875ZM9.99997 15.625C6.68747 15.625 3.18747 13.1687 1.91872 10C3.18747 6.83125 6.68747 4.375 9.99997 4.375C13.3125 4.375 16.8125 6.83125 18.0812 10C16.8125 13.1687 13.3125 15.625 9.99997 15.625ZM9.99997 6.25C7.9289 6.25 6.24997 7.92893 6.24997 10C6.24997 12.0711 7.9289 13.75 9.99997 13.75C12.071 13.75 13.75 12.0711 13.75 10C13.75 7.92893 12.071 6.25 9.99997 6.25ZM9.99997 12.5C8.61925 12.5 7.49997 11.3807 7.49997 10C7.49997 8.61929 8.61925 7.5 9.99997 7.5C11.3807 7.5 12.5 8.61929 12.5 10C12.5 10.663 12.2366 11.2989 11.7677 11.7678C11.2989 12.2366 10.663 12.5 9.99997 12.5Z' fill='white'/%3e%3c/mask%3e%3cg mask='url(%23mask0_311_6146)'%3e%3c/g%3e%3c/svg%3e");
}