.main-content-header{
	padding-top: 15px;
	padding-bottom: 15px;
	column-gap:20px;
	position: relative;
	
	.settings-group{column-gap:10px;width: fit-content;}
	.settings-group .btn-transform span{display: none;}
	.logo{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@media (max-width: 767px) {
		 position: relative;
		 top: auto;
		 left: auto;
		transform: translate(0, 0);
		width: 100%;
		order: 7;
		display: flex;
		justify-content: center;
		margin-top: 16px;
		.svg-logo{
			width: 86px;
			height: 40px;
		}
		}
	
	}
	.profile-group{margin-left: auto;width:fit-content;}
	@media (max-width: 1000px) {
		.settings-group{display: none;}
		.profile-group .btn-light, .profile-group .btn-round{height: 40px; font-size: 14px; min-width: unset;}
		.profile-group .btn-round .icon-box {width: 32px; height: 32px;}
		.profile-group .btn-round img{width: 19px;
		height: 19px;}
	}
	@media (max-width: 767px) {
		flex-wrap:wrap;
		row-gap:16px;
		padding-bottom: 30px;
	    .settings-group {
			display: flex;
			.btn-transform span {display: block;}
			.btn-transform{
				padding-left: 24px;
				padding-right: 24px;
			}
		}
		.app-name{width: 48%;}
		.profile-group .btn-light,
		.profile-group .btn-round {
			height: 48px;
			font-size: 16px;
			min-width: 103px;
		}

		.profile-group .btn-round .icon-box {
			width: 40px;
			height: 40px;
		}

		.profile-group .btn-round img {
			width: 22px;
			height: 22px;
		}
	}
}
.app-name, .battery-box{width: fit-content;flex-shrink: 0;}
.battery-box{column-gap:5px;}
.battery-box.visible-1024{
	@media (max-width: 1000px) {display: none;}
	@media (max-width: 767px) {display:flex; width: 48%; justify-content: flex-end;}
}
.battery-box.hide-1024{
	display: none;
	@media (max-width: 1000px) {display: flex;}
	@media (max-width: 767px) {display:none;}
}
.flex-item{
	font-weight: 500;
}
.profile-group{
	display: flex;
	align-items: center;
	.btn-round{width: fit-content;}
}
.btn-exit{
	padding-left: 16px;
	padding-right: 16px;
	
	width: fit-content;
	min-width: 103px;
	.btn-img{display: none;}
	@media (max-width: 699px) {
		width: 45px;
		height: 45px;
		padding-left: 10px;
		padding-right: 10px;
		min-width: unset!important;
		span{display: none;} 
	.btn-img {
			display:block;
		}
	}
}