.main-content-header{
	padding-top: 15px;
	padding-bottom: 15px;
	column-gap:20px;
	position: relative;
	
	.settings-group{column-gap:10px;width: fit-content;}
	.settings-group .btn-transform span{display: none;}
	.logo{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		
		@media (max-width: 699px) {
			
		}
	
	}
	.profile-group{margin-left: auto;width:fit-content;}
	@media (max-width: 1000px) {
		.settings-group{display: none;}
		.profile-group .btn-light, .profile-group .btn-round{height: 40px; font-size: 14px; min-width: unset;}
		.profile-group .btn-round .icon-box {width: 32px; height: 32px;}
		.profile-group .btn-round img{width: 19px;
		height: 19px;}
	}
	@media (max-width: 768px) {
		flex-wrap:wrap;
		row-gap:16px;
		column-gap:0;
		padding-bottom: 30px;
		.logo{
			position: relative;
			top: auto;
			left: auto;
			transform: translate(0, 0);
			width: 100%;
			order: 7;
			display: flex;
			justify-content: center;
			margin-top: 16px;

			.svg-logo {
				width: 86px;
				height: 40px;

			}
		}
		.settings-group {
			display: flex;
			.btn-transform span {display: block;}
			.btn-transform{
				padding-left: 24px;
				padding-right: 24px;
			}
		}
		.app-name{width: 50%;}
		.profile-group .btn-light,
		.profile-group .btn-round {
			height: 48px;
			font-size: 16px;
			min-width: 103px;
		}

		.profile-group .btn-round .icon-box {
			width: 40px;
			height: 40px;
		}

		.profile-group .btn-round img {
			width: 22px;
			height: 22px;
		}
		
	}
	@media (max-width: 699px) {
		row-gap:12px;
		padding-bottom: 12px;
		column-gap:0;
		.logo{
			order: 3;
			width: 60px;
			height: 28px;
			margin-top: 0;
		
			.svg-logo {
				width: 60px;
				height: 28px;
			}
		}
		.profile-group{
			order: 4;
			width: calc(100% - 80px);
			justify-content: flex-end;
		}
		.profile-group .btn-light,
		.profile-group .btn-round{
			height: 45px;
			font-size: 14px;
		}
		.profile-group .btn-round .icon-box {
			width: 37px;
			height: 37px;
			box-shadow: 5px 5px 10px 0 rgba(174, 174, 192, 0.2), -5px -5px 5px 0 rgba(255, 255, 255, 0.4), inset 2px 2px 4px 0 #fff, inset -2px -2px 4px 0 rgba(0, 0, 0, 0.1);
		}
	
		.profile-group .btn-round img {
			width: 19px;
			height: 19px;
		}
		.settings-group {
			width: 100%;
			order: 7;

			.btn-transform {
				flex-grow: 1;
				height: 45px;
			}
		}
	}
}
.app-name, .battery-box{width: fit-content;white-space: nowrap;flex-shrink: 0;}
.battery-box{column-gap:5px;}
.battery-box.visible-1024{
	@media (max-width: 1000px) {display: none;}
	@media (max-width: 768px) {display:flex; width: 50%; justify-content: flex-end;}
}
.battery-box.hide-1024{
	display: none;
	@media (max-width: 1000px) {display: flex;}
	@media (max-width: 768px) {display:none;}
}
.flex-item{
	font-weight: 500;
}
.profile-group{
	display: flex;
	align-items: center;
	.btn-round{width: fit-content;}
}
.btn-exit{
	padding-left: 16px;
	padding-right: 16px;
	
	width: fit-content;
	min-width: 103px;
	.btn-img{display: none;}
	@media (max-width: 768px) {
		width: 45px;
		height: 45px;
		padding-left: 10px;
		padding-right: 10px;
		min-width: unset!important;
		span{display: none;} 
		.btn-img {display:block;}
	}
}
@media (min-width: 1024px) and (orientation: portrait) {

	.main-content-header {
		flex-wrap: wrap;
		row-gap: 16px;
		column-gap: 0;
		padding-bottom: 30px;
	
		.logo {
			position: relative;
			top: auto;
			left: auto;
			transform: translate(0, 0);
			width: 100%;
			order: 7;
			display: flex;
			justify-content: center;
			margin-top: 16px;
	
			.svg-logo {
				width: 86px;
				height: 40px;
	
			}
		}
	
		.settings-group {
			display: flex;
	
			.btn-transform span {
				display: block;
			}
	
			.btn-transform {
				padding-left: 24px;
				padding-right: 24px;
			}
		}
	
		.app-name {
			width: 50%;
		}
	
		.profile-group .btn-light,
		.profile-group .btn-round {
			height: 48px;
			font-size: 16px;
			min-width: 103px;
		}
	
		.profile-group .btn-round .icon-box {
			width: 40px;
			height: 40px;
		}
	
		.profile-group .btn-round img {
			width: 22px;
			height: 22px;
		}
	}
	.battery-box.visible-1024 {width:50%;justify-content: flex-end;}
	// .battery-box.hide-1024 {display: flex;}
	.btn-exit{
	width: 45px;
		height: 45px;
		padding-left: 10px;
		padding-right: 10px;
		min-width: unset !important;

		span {
			display: none;
		}

		.btn-img {
			display: block;
		}
	}
	.options-block{
		.flex-row {display: none;}
	}
	.main-content-grid {
		grid-template-columns: 1fr 206px;
		grid-column-gap: 40px;
	}

	.column-first {
		grid-area: 1 / 1 / 2 / 2;
	}

	.column-two {
		grid-area: 2 / 1 / 3 / 3;
		margin-top: 10px;
	}

	.column-third {
		grid-area: 1 / 2 / 2 / 3;
	}
	/********************/
	.input-label{
		font-size: 14px;
		margin-bottom: 9px
	}
	.field{
		height: 40px;
		font-size: 14px;
	}
	.fieldset{
		.form-input,
		.field,
		.btn-slim {
			height: 48px;
			font-size: 16px;
		}
	}
	.fieldset-inputs{
		grid-template-columns: 1fr;
		row-gap: 20px;
		margin-bottom: 24px;
	}
	.fieldset-buttons .btn {
		width: 100%;
	}
	.fieldset-buttons{
		row-gap: 24px;
		flex-wrap: wrap;
	}
	.arrow-up,
	.arrow-down{
		background-size: 96px 96px;
	}
	.inner-page-header{
		padding: 15px 16px;
	}
	.btn-big{
		width: 206px;
		height: 175px;
	}
	.action-buttons{
		gap: 24px;
		flex-direction: column;
	}
	/**************/
	.modal-wrapper.modal-horizontal .modal-content{
		width: 624px;
			background-image: url('../img/bg/bg-medium.svg');
			background-position: 0 20px;
		
			.range-wrapper {
				padding-top: 0;
			}
		
			.range-wrapper .range {
				margin-bottom: 20px;
			}
		
			.range-wrapper .range-buttons-title {
				display: none;
			}
	}
	.passw-form .h1 {text-align: left;}
	.sms-code-item {margin-left: 0;}
	.table{
		.cell-user {
				width: 118px;
			}
		
			.cell-robot {
				width: 118px;
			}
		.cell-user{
			.cell-title-short {
					display: inline-block;
					font-size: 14px;
				}
		}
	}
}