.modal-wrapper{
	display: none;
	
}
.modal-wrapper.visible{
	display: flex;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: rgba(0,0,0, .6);
}
.modal-content .input-label{color: white;}
.modal-content .form-input{
	box-shadow: none;
	background: $bg;
}
.modal-content{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	position: relative;
	
	.custom-input {
		padding-left: 32px;
		padding-right: 32px;
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -200%);
		@media (max-width: 1000px) {
			padding-left: 24px;
			padding-right: 24px;
		}
	}
	
}
.modal-wrapper.modal-center.visible{
	display: flex;
	justify-content: center;
	align-items: center;
	.modal-content{
		border-radius: 16px;
		background-color: #C4151C;
		h2, .h2{color: white}
	}
}
.modal-content.modal-small{
	width: 358px;
	background-image: url('../img/bg/bg1.svg');
	background-position: 0 37px;
	background-size: auto;
	
	.modal-header{
		text-align: center;
		padding: 12px 24px;
		position: relative;
		.h2{padding-top: 12px;}
		.modal-header__img{
			
			height: 48px;
		}
		.close-btn{
			position: absolute;
			z-index: 3;
			top: 12px;
			right: 12px;

		}
	}
	
	.modal-body{
		text-align: center;
		padding: 26px;
		padding-top: 28px;
		.btn-wrapper{margin-top: 28px;}
	}
	.btn, .btn-grey{padding-left: 24px; padding-right: 24px;}
}
.close-btn {
	width: 32px;
	height: 32px;
	background-color: $bg;
	border-radius: 50%;
	justify-content: center;
}