.modal-wrapper{
	display: none;
	
}
.modal-wrapper.visible{
	display: flex;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: rgba(0,0,0, .6);
}
.modal-content .input-label{color: white;}
.modal-content .form-input{
	box-shadow: none;
	background: $bg;
}
.modal-content{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	position: relative;
	
	.custom-input {
		padding-left: 32px;
		padding-right: 32px;
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -200%);
		@media (max-width: 1000px) {
			padding-left: 24px;
			padding-right: 24px;
		}
	}
	
}
.modal-wrapper.modal-center.visible{
	display: flex;
	justify-content: center;
	align-items: center;
	.modal-content{
		border-radius: 16px;
		background-color: #C4151C;
		h2, .h2, .title-24{color: white}
	}
}
.modal-content.modal-small{
	width: 358px;
	background-image: url('../img/bg/bg1.svg');
	background-position: 0 37px;
	background-size: auto;
	
	.modal-header{
		text-align: center;
		padding: 26px 24px;
		position: relative;
		.h2, .title-24, h2{line-height: 1;}
		.modal-header__img{
			
			height: 48px;
		}
		.close-btn{
			position: absolute;
			z-index: 3;
			top: 12px;
			right: 12px;

		}
	}
	
	.modal-body{
		text-align: center;
		padding: 26px;
		padding-top: 28px;
		.btn-wrapper{margin-top: 28px;}
	}
	.btn, .btn-grey{padding-left: 24px; padding-right: 24px;}
}

/*******************/
input[type="range"] {
	/* removing default appearance */
	-webkit-appearance: none;
	appearance: none;
	/* creating a custom design */
	width: 100%;
	cursor: pointer;
	outline: none;
	border-radius: 15px;
	/*  overflow: hidden;  remove this line*/

	/* New additions */
	height: 8px;
	box-shadow: inset -5px -5px 4px 0 rgba(255, 255, 255, 0.3), inset 5px 5px 4px 0 rgba(174, 174, 192, 0.2);
	background: $bg;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
	/* removing default appearance */
	-webkit-appearance: none;
	appearance: none;
	/* creating a custom design */
	height: 18px;
	width: 26px;
	background-color: $bg;
	border-radius: 100px;
	border: none;
	box-shadow: 5px 5px 10px 0 rgba(174, 174, 192, 0.2), -5px -5px 5px 0 rgba(255, 255, 255, 0.4), inset 2px 2px 4px 0 #fff, inset -2px -2px 4px 0 rgba(0, 0, 0, 0.1);

	// transition: .2s ease-in-out;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
	height: 18px;
	width: 26px;
	background-color: $bg;
	border-radius: 100px;
	border: none;
	box-shadow: 5px 5px 10px 0 rgba(174, 174, 192, 0.2), -5px -5px 5px 0 rgba(255, 255, 255, 0.4), inset 2px 2px 4px 0 #fff, inset -2px -2px 4px 0 rgba(0, 0, 0, 0.1);

	// transition: .2s ease-in-out;
}

.output-item {
	height: 40px;
	padding-left: 11px;
	padding-right: 11px;
	border-radius: 8px;
	box-shadow: 5px 5px 10px 0 rgba(174, 174, 192, 0.2), -5px -5px 5px 0 rgba(255, 255, 255, 0.4), inset 2px 2px 4px 0 #fff, inset -2px -2px 4px 0 rgba(0, 0, 0, 0.1);
	background: $bg;
	column-gap: 8px;
	width: fit-content;

}

.range-wrapper {
	padding-top: 20px;
}

.range .output-item {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.range-scale {
	justify-content: space-between;
	font-weight: 500;
	font-size: 14px;
	color: rgba(40, 40, 40, 0.5);
	// margin-bottom: 5px;
}

.range-buttons {
	display: flex;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 10px;
	justify-content: center;

	.btn-slim {
		padding-left: 8px;
		padding-right: 8px;
		text-align: center;
		width: 86px;
	}
}

.range-wrapper .range {margin-bottom: 32px;}
.range-wrapper .range-buttons-title {
	margin-bottom: 16px;
}
.modal-wrapper.modal-horizontal .modal-content{
	@media (min-width: 720px) and (max-width: 999px) {
		width: 624px;
		background-image: url('../img/bg/bg-medium.svg');
		background-position: 0 20px;
		.range-wrapper{padding-top: 0;}
		.range-wrapper .range {margin-bottom: 20px;}
		.range-wrapper .range-buttons-title {display: none;}
	}
}