.options-block{
	&>*+*{margin-top:14px;}
	.flex-row{display: none;}
	@media (max-width: 1000px) {
		.flex-row {
			display: flex;
			margin-bottom: 18px;
			&>*{flex-grow: 1;}
		}
	}
	@media (max-width: 599px) {
		&>*+* {margin-top: 10px;}
	}
	@media (max-width: 767px) {
		.flex-row {display: none;}
	}
}
.option-btn {
	height: 52px;
	.icon-box {
		width: 44px;
		height: 44px;
	}
}