.passw-form .h1{
	text-align: center;
	@media (max-width: 768px) and (orientation: portrait) {
	text-align: left;
	}
}
.login-form .btn{
	max-width: 300px!important;
}
.sms-code-item{
	width: fit-content;
	margin: 0 auto;
	@media (max-width: 768px) and (orientation: portrait) {
	margin-left: 0;
	}
}