.table{
	width: 100%;
	.table-row{
		display: flex;
		width: 100%;
		border-radius: 8px;
	}
	.cell-user{width: 16.19%;flex-shrink:0;border-left: 0!important;}
	.cell-user{
		.cell-title-full{font-size: 14px; display: none;}
		
		
		@media (min-width: 800px) and (max-width:1000px) {
			.cell-title-full{display: inline-block;}
			.cell-title-short{display: none;}	
		
		}
		@media(max-width:799px){
			.cell-title-short {
				display: inline-block;
				font-size: 14px;
			}
		}
	}
	.cell-robot{width:149px;flex-shrink:0; text-align: center;}
	.cell-date{width:100px;flex-shrink:0;}
	.cell-time {width:74px;flex-shrink:0;}		
	.cell-distance {width: 126px;flex-shrink:0;}
	.cell-comment {flex-grow:1}
	@media (max-width: 1000px) {
		.cell-user {width: 212px;}
		.cell-robot{width: 149px;}
	}
	@media (max-width: 799px) {
		.cell-user {width: 118px;}
		.cell-robot {width: 118px;}
	}
	
	div[class^="cell-"]{
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 16px;
		padding-right: 16px;
		font-family: $ff;
		font-weight: 500;
		font-size: 16px;
		color: $black;
		border-bottom: 1px solid #CCCCD9;
		border-left: 1px solid #CCCCD9;
	}
	.table-head {
		.table-row{background-color: $darkBlue;}
		div[class^="cell-"]{
			color: white;
			border: 0!important;
			@media (max-width: 1000px) {
				font-size: 14px;
			}
		}

	}
}
@media (max-width: 699px) {
	.table .table-row{
		border-radius: 12px;
		padding: 12px;
		flex-wrap: wrap;
		column-gap:8px;
		row-gap:8px;
		

		div[class^="cell-"] {
			padding: 10px;
			padding-right: 14px;
			border-radius: 8px;
			background: $bg;
			display: flex;
			align-items: center;
			column-gap: 8px;
			flex-grow:0;
			width: fit-content;
			min-width: 55px;
			justify-content: center;
			position: relative;
			&:before{
				content: '';
				display: block;
				width: 10px;
				height: 10px;
				border-radius: 10px;
				flex-shrink:0;
			}
		}
		.cell-user::before{background-color: #C4151C;}
		.cell-robot::before {background-color: #28353F;}		
		.cell-date::before{background-color: #57E741;}
		.cell-time::before {background-color: #EEFF00;}		
		.cell-distance::before {background-color: #255BE4;}
		.cell-comment::before {background-color: #A155FF;}

		
	}

	.table-head .table-row{
		div[class^="cell-"]{
			background: rgba(255, 255, 255, 0.07);
		}
	}
	.table-body{
		margin-left: 10px;
		margin-right: 10px;
		.table-row{
			box-shadow: inset -5px -5px 4px 0 rgba(255, 255, 255, 0.3), inset 5px 5px 4px 0 rgba(174, 174, 192, 0.2);
				background: $bg;
		}
		div[class^="cell-"]{
			box-shadow: 5px 5px 10px 0 rgba(174, 174, 192, 0.2), -5px -5px 5px 0 rgba(255, 255, 255, 0.4), inset 2px 2px 4px 0 #fff, inset -2px -2px 4px 0 rgba(0, 0, 0, 0.1);
			background: $bg;
			border: 0;
		}
		.table-row +.table-row{margin-top: 9px;}
	}
}