extends ../layouts/layout.pug

block content
	.main-content.inner-page
		.inner-page-header
			a(href="#!").btn-back
				span.icon-back
				| Назад

			h1 Измерения
			
			//=== app-name ===
			.app-name.flex-item
				img.flex-img(src="./img/icons/wifi.svg" width="21" height="21" alt="icon")
				span Робот №45
			
			//==== battery for 1024 ===
			.battery-box.flex-item
				img.flex-img(src="./img/icons/battery.svg" width="21" height="21" alt="icon")
				span 54%
		
		//===TABLE====
		.table
			//====table-head ===
			.table-head
				.table-row
					.cell-user ID 
						span.cell-title-short Польз-ля
						span.cell-title-full Пользователя
					.cell-robot ID Робота
					.cell-date Дата
					.cell-time Время
					.cell-distance Расстояние
					.cell-comment Комментарий
			//====table-body ===
			.table-body
				//====table row ===
				.table-row
					.cell-user User5678
					.cell-robot -
					.cell-date 08.11.24
					.cell-time 10:57
					.cell-distance 24.876 км
					.cell-comment плеть 4,56 км
			//====table row ===
			.table-body
				.table-row
					.cell-user User5678
					.cell-robot -
					.cell-date 08.11.24
					.cell-time 10:57
					.cell-distance 24.876 км
					.cell-comment плеть 4,56 км
			//====table row ===
			.table-body
				.table-row
					.cell-user User5678
					.cell-robot -
					.cell-date 08.11.24
					.cell-time 10:57
					.cell-distance 24.876 км
					.cell-comment плеть 4,56 км







block variables
	-var title = "Измерения";
