extends ../layouts/layout.pug

block content
	.start-page
		h1 RZD APP
		.start-page__cards
			a(href="ui/colors.html") UI-KIT PAGE
			a(href="main.html")
				span Главная
			a(href="dimensions.html")
				span Измерения
			a(href="modal-save-data.html")
				span popUp Сохранить&nbsp;измерение
			a(href="settings-popup.html")
				span popUp<br>Настройки
			a(href="modal-kalibrovka.html")
				span popUp<br>Калибровка
			a(href="hot-keys.html")
				span popUp<br>Горячие кнопки
block variables
	-var title = "Page";
