extends ../layouts/layout.pug

block content
	.start-page
		h1 RZD APP
		.start-page__cards
			a(href="ui/colors.html") UI-KIT PAGE
			a(href="main.html")
				span Главная
			a(href="dimensions.html")
				span Измерения
			a(href="autorize.html")
				span Авторизация
			a(href="send-passw.html")
				span Восстановить пароль
			a(href="send-sms.html")
				span Форма смс-код
		.start-page__cards
			a(href="#!" style="cursor: default; height: 60px;") 
				span popUp
			a(href="modal-save-data.html")
				span popUp<br>Сохранить&nbsp;измерение
			a(href="modal-settings.html")
				span popUp<br>Настройки
			a(href="modal-kalibrovka.html")
				span popUp<br>Калибровка
			a(href="modal-kalibrovka-start.html")
				span popUp<br>Калибровка сохранить
			a(href="modal-kalibrovka-reset.html")
				span popUp<br>Самосброс
			a(href="modal-low-battery.html")
				span popUp<br>Низкий заряд
			a(href="modal-encoder-problem.html")
				span popUp<br>Проблемы с энкодером
			a(href="modal-speedometr.html")
				span popUp<br>Скорость
		
			
block variables
	-var title = "Page";
