extends ../layouts/layout.pug

block content
	.main-content
		//===MAIN CONTENT HEADER====
		.main-content-header
			.app-name.flex-item
				img.flex-img(src="./img/icons/wifi.svg" width="21" height="21" alt="icon")
				span Робот №45
			//==== battery for 1024 ===
			.battery-box.flex-item.visible-1024
				img.flex-img(src="./img/icons/battery.svg" width="21" height="21" alt="icon")
				span 54%
			.flex-row.settings-group
				button.btn-transform
					img(src="./img/icons/settings.svg", width="20" height="20" alt="user")
					span Настройки
				button.btn-transform
					img(src="./img/icons/tools.svg", width="20" height="20" alt="user")
					span Измерения
			//====LOGO====
			.logo
				svg.svg-logo
					use(href="./img/logo.svg#svg-logo")
			
			//======PROFILE GROUP ===
			.profile-group
				a(href="#!").btn-round
					span.icon-box
						img(src="./img/icons/user.svg", width="22" height="22" alt="user")
					span Иван Иванов
				//===button exit ===
				button.btn-light.btn-exit(type="button")
					img.btn-img(src="./img/icons/exit.svg", width="22" height="22" alt="exit")
					span Выйти
				//==== battery for < 1024 ===
				.battery-box.flex-item.hide-1024
					img.flex-img(src="./img/icons/battery.svg" width="21" height="21" alt="icon")
					span 54%
		
		
		//===MAIN CONTENT BODY====
		.main-content-grid
			//=== fieldset ====
			.column-first
				fieldset.fieldset
					.fieldset-inputs
						.form-group
							label.input-label Пройденное расстояние
							.flex-row
								.field
									span.field-value 128 м
									span.arrow-small-up
								.field
									span.field-value 128 м
									span.arrow-small-down
						.form-group.custom-input
							label.input-label Ручной ввод
							.flex-row
								button.btn-light.txt-left(data-btn="custom-input") Значение, м
								button.btn-light.txt-left(data-btn="custom-input") Значение, м
					
					.fieldset-buttons
						.form-group
							label.input-label.txt-12 Предустановки 
							.flex-row.presets-row
								button(type="button").btn-slim xxxxx м
								button(type="button").btn-slim.btn-slim--active 1024 м
								button(type="button").btn-slim xxxxx м
								
						button.btn Старт
			
			.column-two
				//=====OPTIONS ======
				.options-block
					.flex-row.settings-group
						button.btn-transform
							img(src="./img/icons/settings.svg", width="20" height="20" alt="user")
							span Настройки
						button.btn-transform
							img(src="./img/icons/tools.svg", width="20" height="20" alt="user")
							span Измерения
					
					button.option-btn
						span.icon-box
							img(src="./img/icons/plus.svg", width="24" height="24" alt="icon")
						span Начать новое измерение
					button.option-btn
						span.icon-box
							img(src="./img/icons/save.svg", width="24" height="24" alt="icon")
						span Сохранить измерение
					button.option-btn
						span.icon-box
							img(src="./img/icons/disk.svg", width="24" height="24" alt="icon")
						span Скачать данные
					button.option-btn
						span.icon-box
							img(src="./img/icons/stop.svg", width="24" height="24" alt="icon")
						span САМОСБРОС
			.column-third
				//=======BIG BUTTONS ====
				.action-buttons
					//==== big btn ===
					button.btn-big.btn-big--up
						span.arrow-up
					//==== big btn Класс btn-press делает кнопку нажатой===
					button.btn-big.btn-press
						span.arrow-down

	//=========POPUP CUSTOM INPUT =====
	.modal-wrapper(data-modal="custom-input")
		.modal-content
			.form-group.custom-input
				label.input-label Ручной ввод
				.flex-row
					.form-item
						input.form-input#focus-input(type="text" placeholder="Значение, м")
					.form-item
						input.form-input(type="text" placeholder="Значение, м")

		
block variables
	-var title = "Главная";
