extends ../layouts/layout.pug

block content
	//====POPUP Сохранить измерениe. Окно отображается за счет класса .visible. Изначально этого класса быть не должно, он добавляется через скрипт. Сейчас этот класс добавлен для демонстрации ====
	.modal-wrapper.modal-center.visible(data-modal="save-data")
		.modal-content.modal-small
			.modal-header
				.h2 Сохранить измерениe
			.modal-body
				.txt-20 Сохранить текущее измерение?
				.btn-wrapper
					button(data-close).btn-grey.btn--upper.w-100 Отмена
					button.btn.w-100 ОК

		
block variables
	-var title = "Главная";
