include _mixins-links.pug
block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		
		//======= swipe =============
		link(rel="stylesheet" href="libs/swiper/swiper.min.css" )
		
		//======= галерея lightbox =============
		link(rel="stylesheet" href="./libs/lightbox/css/lightbox.css" )
		
		//=======убрать перевод цифр в номер телефона на ios  и safari ======
		meta(name="format-detection" content="telephone=no")
		
		
		link(rel="stylesheet", href="css/main.css")
		title !{title}
		style.
			@font-face {
				font-family: "IBM Plex Sans";
				src: url("./fonts/IBMPlexSans-Regular.woff2") format("woff2");
				font-style: normal;
				font-weight: 400;
				font-display: swap;
				}
			@font-face {
				font-family: "IBM Plex Sans";
				src: url("./fonts/IBMPlexSans-Medium.woff2") format("woff2");
				font-style: normal;
				font-weight: 500;
				font-display: swap;
				}
			@font-face {
				font-family: "IBM Plex Sans";
				src: url("./fonts/IBMPlexSans-SemiBold.woff2") format("woff2");
				font-style: normal;
				font-weight: 600;
				font-display: swap;
				}
			@font-face {
				font-family: "IBM Plex Sans";
				src: url("./fonts/IBMPlexSans-Bold.woff2") format("woff2");
				font-style: normal;
				font-weight: 700;
				font-display: swap;
				}
			@font-face {
				font-family: "RussianRail G Pro";
				src: url("./fonts/russianrailgpro-extendedbold.woff2") format("woff2");
				font-style: normal;
				font-weight: 700;
				font-display: swap;
				}
			@font-face {
				font-family: "RussianRail G Pro";
				src: url("./fonts/russianrailgpro-extended.woff2") format("woff2");
				font-style: normal;
				font-weight: 400;
				font-display: swap;
				}
	body(class=(bodyCl !=="" ? bodyCl : ''))
		
		block content
		
		//=============== jquery ===================
		script(src="./libs/jquery/jquery-3.0.0.min.js")
		
		//=============== swiper ===================
		script(src="libs/swiper/swiper.js")
		
		//=============== lightbox ===================
		script(src="./libs/lightbox/js/lightbox.min.js")
		
				
		//=============== мои скрипты ===================
		
		script(src="./js/main.js")