include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT
		style.
			@font-face {
				font-family: "IBM Plex Sans";
				src: url("../fonts/IBMPlexSans-Regular.woff2") format("woff2");
				font-style: normal;
				font-weight: 400;
				font-display: swap;
				}
			@font-face {
				font-family: "IBM Plex Sans";
				src: url("../fonts/IBMPlexSans-Medium.woff2") format("woff2");
				font-style: normal;
				font-weight: 500;
				font-display: swap;
				}
			@font-face {
				font-family: "IBM Plex Sans";
				src: url("../fonts/IBMPlexSans-SemiBold.woff2") format("woff2");
				font-style: normal;
				font-weight: 600;
				font-display: swap;
				}
			@font-face {
				font-family: "IBM Plex Sans";
				src: url("../fonts/IBMPlexSans-Bold.woff2") format("woff2");
				font-style: normal;
				font-weight: 700;
				font-display: swap;
				}
			@font-face {
				font-family: "RussianRail G Pro";
				src: url("../fonts/russianrailgpro-extended.woff2") format("woff2");
				font-style: normal;
				font-weight: 400;
				font-display: swap;
				}
			@font-face {
				font-family: "RussianRail G Pro";
				src: url("../fonts/russianrailgpro-extendedbold.woff2") format("woff2");
				font-style: normal;
				font-weight: 700;
				font-display: swap;
				}
	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Кнопки

				.container-dashboard__content
					button.btn СТАРТ
					pre.
						button.btn СТАРТ
					button.light-btn Войти
					pre.
						button.light-btn Войти
					
					button.btn-round
						i
							img(src="../img/icons/user.svg", width="22" height="22" alt="user")
						span Иван Иванов
					pre.
						button.btn-round
							i
								img(src="../img/icons/user.svg", width="22" height="22" alt="user")
							span Иван Иванов
					button.btn-round
						i
							img(src="../img/icons/save.svg", width="20" height="20" alt="user")
						span Сохранить измерение
					pre.
						button.btn-round
							i
								img(src="../img/icons/save.svg", width="20" height="20" alt="user")
							span Сохранить измерение
					button.btn-transform
						img(src="../img/icons/settings.svg", width="20" height="20" alt="user")
					pre.
						button.btn-transform
							img(src="../img/icons/settings.svg", width="20" height="20" alt="user")
					button.btn-transform
						img(src="../img/icons/tools.svg", width="20" height="20" alt="user")
						span Настройки
					pre.
						button.btn-transform
							img(src="../img/icons/tools.svg", width="20" height="20" alt="user")
							span Настройки
					button.btn-grey Забыли пароль?
