include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT
		style.
			@font-face {
				font-family: "IBM Plex Sans";
				src: url("../fonts/IBMPlexSans-Regular.woff2") format("woff2");
				font-style: normal;
				font-weight: 400;
				font-display: swap;
				}
			@font-face {
				font-family: "IBM Plex Sans";
				src: url("../fonts/IBMPlexSans-Medium.woff2") format("woff2");
				font-style: normal;
				font-weight: 500;
				font-display: swap;
				}
			@font-face {
				font-family: "IBM Plex Sans";
				src: url("../fonts/IBMPlexSans-SemiBold.woff2") format("woff2");
				font-style: normal;
				font-weight: 600;
				font-display: swap;
				}
			@font-face {
				font-family: "IBM Plex Sans";
				src: url("../fonts/IBMPlexSans-Bold.woff2") format("woff2");
				font-style: normal;
				font-weight: 700;
				font-display: swap;
				}
			@font-face {
				font-family: "RussianRail G Pro";
				src: url("../fonts/russianrailgpro-extended.woff2") format("woff2");
				font-style: normal;
				font-weight: 400;
				font-display: swap;
				}
			@font-face {
				font-family: "RussianRail G Pro";
				src: url("../fonts/russianrailgpro-extendedbold.woff2") format("woff2");
				font-style: normal;
				font-weight: 700;
				font-display: swap;
				}
	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Кнопки

				.container-dashboard__content
					h3 #[strong класс btn]
					br
					button.btn СТАРТ
					pre.
						button.btn СТАРТ
					hr
					a(href="#!").btn СТАРТ
					pre.
						a(href="#!").btn СТАРТ
					hr
					input.btn(type="submit" value="СТАРТ")
					pre.
						input.btn(type="submit" value="СТАРТ")
					hr
					h3 #[strong класс btn-light]
					br
					button.btn-light Войти
					pre.
						button.btn-light Войти
					hr
					a(href="#!").btn-light Войти
					pre.
						a(href="#!").btn-light Войти
					hr
					input.btn-light(type="submit" value="Войти")
					pre.
						input.btn-light(type="submit" value="Войти")
					hr
					h3 #[strong добавление класса  txt-left  делает текст на кнопке слева, не по центру и серого цвета]
					a(href="#!").btn-light.txt-left Измерения
					pre.
						a(href="#!").btn-light.txt-left Измерения
					h3 #[strong класс .btn-round  кнопка с иконкой]
					br
					button.btn-round
						span.icon-box
							img(src="../img/icons/plus.svg", width="22" height="22" alt="user")
						span Иван Иванов
					pre.
						button.btn-round
							span.icon-box
								img(src="../img/icons/plus.svg", width="22" height="22" alt="plus")
							span Иван Иванов
					hr
					a(href="#!").btn-round
						span.icon-box
							img(src="../img/icons/user.svg", width="22" height="22" alt="user")
						span Иван Иванов
					pre.
						a(href="#!").btn-round
							span.icon-box
								img(src="../img/icons/user.svg", width="22" height="22" alt="user")
							span Иван Иванов
					hr
					h3 #[strong класс .btn-round  кнопка без иконки]
					br
					input.btn-round(type="submit" value="Сохранить изменения")
						
					pre.
						input.btn-round(type="submit" value="Сохранить изменения")
					hr
					a(href="#!").btn-round Сохранить изменения
					pre.
						a(href="#!").btn-round Сохранить изменения
					hr
					h3 #[strong класс .btn-grey]
					br
					button.btn-grey Калибровка
					pre.
						button.btn-grey Калибровка
					br
					button.btn-grey.btn--upper Отмена
					pre.
						button.btn-grey.btn--upper Отмена
					br
					h3 #[strong класс btn-transform]
					button.btn-transform
						img(src="../img/icons/settings.svg", width="20" height="20" alt="user")
					pre.
						button.btn-transform
							img(src="../img/icons/settings.svg", width="20" height="20" alt="user")
					button.btn-transform
						img(src="../img/icons/tools.svg", width="20" height="20" alt="user")
						span Настройки
					pre.
						button.btn-transform
							img(src="../img/icons/tools.svg", width="20" height="20" alt="user")
							span Настройки
					button.btn-grey Забыли пароль?
					pre.
						button.btn-grey Забыли пароль?
					.flex-row
						a(href="#!").btn-slim xxxxx м
						buttom.btn-slim xxxxx м
						input.btn-slim(type="submit" value="xxxxx м")
					br
					.btn-big.btn-big--up
						span.arrow-up
					pre.
						.btn-big.btn-big--up
							span.arrow-up
					br
					.btn-big.btn-press
						span.arrow-down
					pre.
						.btn-big.btn-press
							span.arrow-down
					br
					.profile-group
						a(href="#!").btn-round
							span.icon-box
								img(src="../img/icons/user.svg", width="22" height="22" alt="user")
							span Иван Иванов
						//===button exit ===
						button.btn-light.btn-exit(type="button")
							img.btn-img(src="../img/icons/exit.svg", width="22" height="22" alt="exit")
							span Выйти

						
