include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Цветовая схема

				.container-dashboard__content
					ul.color-scheme
						li
							span.color-box(style="background-color:#121212")
							span.color-name $black - #121212
						li
							span.color-box(style="background-color:#f0f0f3;")
							span.color-name $bg - #f0f0f3
							
						li
							span.color-box(style="background-color:#c4151c;")
							span.color-name $accent - #c4151c
						li
							span.color-box(style="background-color:#57E741;")
							span.color-name $green - #57E741
						li
							span.color-box(style="background-color:#263238;")
							span.color-name $darkBlue - #214458