include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT
		style.
			@font-face {
				font-family: "IBM Plex Sans";
				src: url("../fonts/IBMPlexSans-Regular.woff2") format("woff2");
				font-style: normal;
				font-weight: 400;
				font-display: swap;
				}
			@font-face {
				font-family: "IBM Plex Sans";
				src: url("../fonts/IBMPlexSans-Medium.woff2") format("woff2");
				font-style: normal;
				font-weight: 500;
				font-display: swap;
				}
			@font-face {
				font-family: "IBM Plex Sans";
				src: url("../fonts/IBMPlexSans-SemiBold.woff2") format("woff2");
				font-style: normal;
				font-weight: 600;
				font-display: swap;
				}
			@font-face {
				font-family: "IBM Plex Sans";
				src: url("../fonts/IBMPlexSans-Bold.woff2") format("woff2");
				font-style: normal;
				font-weight: 700;
				font-display: swap;
				}
			@font-face {
				font-family: "RussianRail G Pro";
				src: url("../fonts/russianrailgpro-extended.woff2") format("woff2");
				font-style: normal;
				font-weight: 400;
				font-display: swap;
				}
			@font-face {
				font-family: "RussianRail G Pro";
				src: url("../fonts/russianrailgpro-extendedbold.woff2") format("woff2");
				font-style: normal;
				font-weight: 700;
				font-display: swap;
				}
	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Форма

				.container-dashboard__content
				.form-item
					label.input-label Ручной ввод
					input.form-input(type="text" placeholder="Значение, м")
				pre.
					.form-item
						label.input-label Ручной ввод
						input.form-input(type="text" placeholder="Значение, м")
				hr
				.form-group
					label.input-label Пройденное расстояние
					.flex-row
						.field
							span.field-value 128 м
							span.arrow-small-up
						.field
							span.field-value 128 м
							span.arrow-small-down
				hr
				.form-item
					label.input-label Предустановки 
					.flex-row
						.btn-slim xxxxx м
						.btn-slim xxxxx м
						.btn-slim xxxxx м
						.btn-slim xxxxx м
						.btn-slim xxxxx м
				hr
				fieldset.fieldset
					.fieldset-inputs
						.form-group
							label.input-label Пройденное расстояние
							.flex-row
								.field
									span.field-value 128 м
									span.arrow-small-up
								.field
									span.field-value 128 м
									span.arrow-small-down
						.form-group
							label.input-label Ручной ввод
							.flex-row
								.form-item
									input.form-input(type="text" placeholder="Значение, м")
								.form-item
									input.form-input(type="text" placeholder="Значение, м")
					
					.fieldset-buttons
						.form-group
							label.input-label.txt-12 Предустановки 
							.flex-row
								.btn-slim xxxxx м
								.btn-slim xxxxx м
								.btn-slim xxxxx м
								.btn-slim xxxxx м
								.btn-slim xxxxx м
						button.btn Старт