include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Форма

				.container-dashboard__content
				.form-item
					label.input-label Ручной ввод
					input(type="text" placeholder="Значение, м")
				pre.
					.form-item
						label.input-label Ручной ввод
						input(type="text" placeholder="Значение, м")
				
				.form-item
					label.input-label Пройденное расстояние
					.form-item-group
						.field
							span.field-value 128 м
							span.val-up