include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Иконки

				.container-dashboard__content
					span.arrow-up
					pre.
						span.arrow-up
					br
					span.arrow-down
					pre.
						span.arrow-down
					br
					span.arrow-up-small
					pre.
						span.arrow-up-small
					br
					span.arrow-small-down
					pre.
						span.arrow-small-down
					br
					span .icon-back
					pre.
						.icon-back
					br
					span .icon-close
					pre.
						.icon-close
					
					